<!--<div class="login-page" [@routerTransition]>
    <div class="row">-->

      <div class="forImage">
        <div class='login'>
<h2>Welcome To PayRoll System</h2>
<h5>Sign Up For Free !</h5>
<br>
<br>
           <div class="row col-sm-12">
        <div class="yyy col-sm-6">
            <form class="form-horizontal">
    <h2 class="payroll">COMPONY INFO</h2>
   <div class="form-group">
    <div class="vai ">
      <input type="Username" class="form-control" id="Username" placeholder="Company Name" >
    </div>
  </div>
  <div class="form-group">
    <div class="vai ">
      <input type="email" class="form-control" id="email" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <div class="vai "> 
      <input type="password" class="form-control" id="pwd" placeholder="Phone">
    </div>
  </div>
  <div class="form-group">
<select class="form-control" id="select" >

          
 <option>No Of Employees</option>

          <option>1-50</option>

          <option>50-100</option>
 
         <option>More than 100</option>
  
      </select>           
  </div>
 
</form>
        </div>
<div class="zzz col-sm-6">
    <form class="form-horizontal">
    <h2 class="payroll">Employee INFO</h2>
   <div class="form-group">
    <div class="vai">
      <input type="Username" class="form-control" id="Username" placeholder="Username" >
    </div>
  </div>
  <div class="form-group">
    <div class="vai">
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="vai"> 
      <input type="password" class="form-control" id="pwd" placeholder="password">
    </div>
  </div>
  <div class="form-group">
    <div class="vai"> 
      <input type="Password" class="form-control" id="ConfirmPassword" placeholder="ConfirmPassword" >
    </div>
  </div>
  
  
</form>
</div>
  </div>

<div class="text-center"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="now"class="btn register-btn" [routerLink]="['/login']">Register</button>
    </div>
     
  </div> 
  
        
        </div>
        </div>
   