<!--<input (keyup.enter)="createPost(input)" #input
 type="text" class="form-control">
 -->
<!--<ul class="list-group">
    <li
     *ngFor="let posts of posts"
     class="list-group-item">
     
     {{posts.CompanyName}}
    </li>
</ul>-->

<!--<div class="arr">
    <i class="fa fa-arrow-circle-o-left" aria-hidden="true">Masters</i>

</div>
<div class="arr1">
    <hr>
    <button type="button" class="btn btn-default" [routerLink]="['/basicdet']">Basic Details</button>
    <router-outlet></router-outlet>
<button type="button" class="btn btn-default">Secondary</button>
<button type="button" class="btn btn-default">Success</button>
<button type="button" class="btn btn-default">Danger</button>
<button type="button" class="btn btn-default">Warning</button>
</div>-->

<app-headerdashboard></app-headerdashboard>
<router-outlet></router-outlet>
