 
 
<div class="container first col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
     <h1>PAYROLL SYSTEM</h1>
       <h4>Choose your Plan Now</h4>
</div>
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Plan 1:
              </h2>
              <h3 class="post-subtitle">
               Free Trial
              </h3>
            </a>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
               Plan 2:
              </h2>
                <h3 class="post-subtitle">
                15$
              </h3>
            </a>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Plan 3:
              </h2>
              <h3 class="post-subtitle">
               25$
              </h3>
            </a>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
               Plan 4:
              </h2>
              <h3 class="post-subtitle">
                30$
              </h3>
            </a>
          </div>
          <hr>
          <!-- Pager -->

        </div>
      </div>
    </div>

    <hr>

    
