<!--<h6>what is the salary payment mode(s)*</h6>
<div class="form-group">
<select class="form-control" id="select" >

          

          <option>Cheque</option>

          <option>cash</option>
 
         <option>Online payment</option>
  
      </select>           
  </div>
<br>
  <h6>what is your business default work week *</h6>
  <div class="form-group1">
<select class="form-control" id="select1" >

          <option>Select</option>
          <option>5 days(Monday-Friday)</option>
          <option>6 days(Monday-Saturday)</option>
      </select>           
  </div>
  <br>
  <h6>Payment Date *</h6>
  <div class="form-group2">
<select class="form-control" id="select2" >

          <option>Select payDate</option>
          <option>1 </option>
          <option>2 </option>
          <option>3 </option>
          <option>4</option>
          <option>5 </option>
          <option>6 </option>
          <option>7 </option>
          <option>6 </option>
          <option>7 </option>
          <option>8 </option>
          <option>9</option>
          <option>6 </option>
          <option>10 </option>
          <option>11 </option>
          <option>12 </option>
          <option>13 </option>
          <option>14 </option>
          <option>15</option>
          <option>16 </option>
          <option>17 </option>
          <option>18 </option>
          <option>19 </option>
          <option>20 </option>
          <option>21 </option>
          <option>22 </option>
          <option>23</option>
          <option>24</option>
          <option>25 </option>
          <option>26 </option>
          <option>27 </option>
          <option>28 </option>
          <option>29</option>
          <option>30 </option>
          <option>31</option>
      </select>           
  </div>
  <br>
  <h6>Time Zone *</h6>
  <div class="form-group3">
<select class="form-control" id="select3" >

          <option value="" selected="selected">select your timezone</option>
          <option value="(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
          <option value="(GMT -6:00) Central Time (US & Canada), Mexico City">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
          <option value="(GMT -7:00) Mountain Time (US & Canada)">(GMT -7:00) Mountain Time (US & Canada)</option>
          <option value="(GMT -8:00) Pacific Time (US & Canada)">(GMT -8:00) Pacific Time (US & Canada)</option>
          <option value="(GMT -9:00) Alaska">(GMT -9:00) Alaska</option>
          <option value="">--------------</option>
          <option value="(GMT -12:00) Eniwetok, Kwajalein">(GMT -12:00) Eniwetok, Kwajalein</option>
          <option value="(GMT -11:00) Midway Island, Samoa">(GMT -11:00) Midway Island, Samoa</option>
          <option value="(GMT -10:00) Hawaii">(GMT -10:00) Hawaii</option>
          <option value="(GMT -9:30) Taiohae">(GMT -9:30) Taiohae</option>
          <option value="(GMT -9:00) Alaska">(GMT -9:00) Alaska</option>
          <option value="(GMT -8:00) Pacific Time (US & Canada)">(GMT -8:00) Pacific Time (US & Canada)</option>
          <option value="(GMT -7:00) Mountain Time (US & Canada)">(GMT -7:00) Mountain Time (US & Canada)</option>
          <option value="(GMT -6:00) Central Time (US & Canada), Mexico City">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
          <option value="(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
          <option value="(GMT -4:30) Caracas">(GMT -4:30) Caracas</option>
          <option value="(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
          <option value="(GMT -3:30) Newfoundland">(GMT -3:30) Newfoundland</option>
          <optio value="(GMT -3:00) Brazil, Buenos Aires, Georgetown">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
          <option value="(GMT -2:00) Mid-Atlantic">(GMT -2:00) Mid-Atlantic</option>
          <option value="(GMT -1:00) Azores, Cape Verde Islands">(GMT -1:00) Azores, Cape Verde Islands</option>
          <option value="(GMT +0:00) Western Europe Time, London, Lisbon, Casablanca">(GMT +0:00) Western Europe Time, London, Lisbon, Casablanca</option>
          <option value="(GMT +1:00) Brussels, Copenhagen, Madrid, Paris">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
          <option value="(GMT +2:00) Kaliningrad, South Africa">(GMT +2:00) Kaliningrad, South Africa</option>
          <option value="(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
          <option value="(GMT +3:30) Tehran">(GMT +3:30) Tehran</option>
          <option value="(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
          <option value="(GMT +4:30) Kabul">(GMT +4:30) Kabul</option>
          <option value="(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
          <option value="(GMT +5:30) Bombay, Calcutta, Madras, New Delhi">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
          <option value="(GMT +5:45) Kathmandu, Pokhara">(GMT +5:45) Kathmandu, Pokhara</option>
          <option value="(GMT +6:00) Almaty, Dhaka, Colombo">(GMT +6:00) Almaty, Dhaka, Colombo</option>
          <option value="(GMT +6:30) Yangon, Mandalay">(GMT +6:30) Yangon, Mandalay</option>
          <option value="(GMT +7:00) Bangkok, Hanoi, Jakarta">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
          <option value="(GMT +8:00) Beijing, Perth, Singapore, Hong Kong">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
          <option value="(GMT +8:45) Eucla">(GMT +8:45) Eucla</option>
          <option value="(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
          <option value="(GMT +9:30) Adelaide, Darwin">(GMT +9:30) Adelaide, Darwin</option>
          <option value="(GMT +10:00) Eastern Australia, Guam, Vladivostok">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
          <option value="(GMT +10:30) Lord Howe Island">(GMT +10:30) Lord Howe Island</option>
          <option value="(GMT +11:00) Magadan, Solomon Islands, New Caledonia">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
          <option value="(GMT +11:30) Norfolk Island">(GMT +11:30) Norfolk Island</option>
          <option value="(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
          <option value="(GMT +12:45) Chatham Islands">(GMT +12:45) Chatham Islands</option>
          <option value="(GMT +13:00) Apia, Nukualofa">(GMT +13:00) Apia, Nukualofa</option>
          <option value="(GMT +14:00) Line Islands, Tokelau">(GMT +14:00) Line Islands, Tokelau</option>

      </select>           
  </div>
  <br>
  <hr>
  <div class="but">
    <button type="button" class="btn btn-danger">clear</button>
<button type="button" class="btn btn-primary" >Save</button>
  </div>
  
<router-outlet> </router-outlet>-->

<!--#fAddStudent="ngForm" (ngSubmit)="onAddEmployee(fAddStudent)" class="form-horizontal" role="form" method="POST"-->
<div class="row">
<div class="col-xs-12">  
<button type="button" class="btn btn-default button1" routerLink="/basicdet">Basic Details</button>
<button type="button" class="btn btn-default button2" routerLink="/bankdet">Bank Details</button>
<button type="button" class="btn btn-default button3">Employee & Salary</button>
<button type="button" class="btn btn-default button4">Other Details</button>

<br>
<br>
<br>
</div>
</div>
        <form name="BasicDetails" #fAddStudent="ngForm" (ngSubmit)="onAddEmployee(fAddStudent)" class="form-horizontal" role="form" method="POST">
          <div class="container">
            <div class="row">
             <div class="col-sm-6">
  <div class="form-group">
   
    <input type="code" class="form-control" id="code"  placeholder="Employee code" name="EmployeeCode" [(ngModel)]="EmployeeCode">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="name"  placeholder="First Name" name="FirstName" [(ngModel)]="FirstName">
  </div>
  <div class="form-group">
   
    <input type="text" class="form-control" id="name" placeholder="Last Name" name="LastName" [(ngModel)]="LastName">
  </div>
  <div class="form-group">
  
    <input type="date" class="form-control" id="dob" placeholder="DOB" name="DOB" [(ngModel)]="DOB">
  </div>
  <div class="form-group">
  
    <input type="Email" class="form-control" id="mail"  placeholder="Email" name="Email" [(ngModel)]="Email">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="no"  placeholder="Mobile Number" name="MobileNumber" [(ngModel)]="MobileNumber">
  </div>
 
   <hr>

  </div>
   <div class="col-sm-6">
  <div class="form-group">
   
    <input type="text" class="form-control" id="line"  placeholder="Address Line 1">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="line2"  placeholder="Address Line 1">
  </div>
  <div class="form-group">
   
    <input type="text" class="form-control" id="country" placeholder="Country">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="state" placeholder="State">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="city"  placeholder="city">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="Zip"  placeholder="Zip">
  </div>
 
   <hr>
<div class="vava">

  <button type="submit" class="btn-success" >Submit</button>
<button type="button" class="btn-warning">Cancel</button>
</div>
  </div>
            </div>
          </div>
         
</form>
   
  
 
<hr>



