

.btn.btn-default.btn-save.clear{
    background: #FCB82D;
    border: 1px solid #FCB82D;
    color: #333;
} 
.vava{
    float: right;
}
.button1:hover{
    background-color:#008CBA;
}
.button2:hover{
    background-color: #008CBA;
}

.button3:hover{
    background-color: #008CBA;
}

.button4:hover{
    background-color: #008CBA;
}

