  <!--<a routeLink='/login'></a>-->
  <!--<a routeLink='/Our-Solution'></a>-->
<!--<div class="login-page" [@routerTransition]>-->
    <!--<div class="login-page">
    <div class="row">-->
   
        <div class="forImage">
        <div class="Container login">
        <div class="col-md-4 push-md-4">
            <!--<a routeLink='/login'></a>-->
            <h1>PayRoll System</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                 <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()" onclick="submit"> Login </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']"> Register </a>
            </form>
        </div>
        </div>
        </div>
    <!--</div>
</div>-->
