<div class="row">
<div class="col-xs-12">  
<button type="button" class="btn btn-default button1" routerLink="/basicdet">Basic Details</button>
<button type="button" class="btn btn-default button2" routerLink="/bankdet">Bank Details</button>
<button type="button" class="btn btn-default button3">Employee & Salary</button>
<button type="button" class="btn btn-default button4">Other Details</button>

<br>
<br>
<br>
</div>
</div>
<div class="col-sm-6">
        <form >
  <div class="form-group">
   
    <input type="text" class="form-control" id="Bank Name"  placeholder="Bank Name">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="Account Number"  placeholder="Account Number">
  </div>
  <div class="form-group">
   
    <input type="text" class="form-control" id="Address1" placeholder="Address">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="Country" placeholder="Country">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="State"  placeholder="State">
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control" id="City"  placeholder="City">
  </div>
 
   <hr>
<div class="vava">

  <button type="submit" class="btn-success" >Save</button>
<button type="button" class="btn-warning">Cancel</button>
</div>
</form>
   
    </div>
<hr>